<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="templates/test/main :: common_header(~{::header}, ~{::footer})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문서</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
	<link rel="stylesheet" href="base.css" />
</head>
<body>

	
	
	    <!-- Nav -->
	    <nav id="nav">
	        <ul>
	            <li><a th:href="@{/board/getBoardList}" >Board</a>
	           <ul>
	                    <li><a th:href="@{/board/getBoardList}" style="text-align: center;" class="side-hver" >커뮤니티</a></li>
	                    <li><a th:href="@{/notice/getNoticeList}" style="text-align: center;" class="side-hver">공지사항</a></li>
	                </ul>   
	        </li>
	            <li><a href="Models.html">&nbsp;Model</a></li>
	            <li><a href="Center.html">&nbsp;Center</a></li>
	            <li>
	                <a>&nbsp;MyPage</a>
	                <ul>
	                    <li><a th:href="@{/mypage/form}" style="text-align: center;" class="side-hver" th:text="#{side.menu1}"></a></li>
	                    <li><a th:href="@{/mypage/bookmark}" style="text-align: center;" class="side-hver" th:text="#{side.menu2}"></a></li>
	                    <li><a th:href="@{/mypage/myBoard}" style="text-align: center;" class="side-hver" th:text="#{side.menu3}"></a></li>
	                </ul>
	            </li>
	        </ul>
	    </nav>
	</div>
	<br>

	
	
	
	
</body>
</html>
